<div>
    <h1>PLCS Concepts</h1>
</div>


<div>

    <table>
        <thead>
            <tr>
                <th>PLCS Concept</th>
                <th>PLCS Description</th>
                <th>PLCS Relationships</th>
            </tr>
        </thead>
        <tbody class="_plcsConcepts">
            <tr *ngFor="let row of _plcsConcepts">
                <td>{{row.plcs_Name}}</td>
                <td>{{row.plcs_Desc}}</td>
                <td>{{row.plcs_Rel}}</td>
            </tr>
        </tbody>
    </table>
</div>


